@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

#interface {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;  /* view width  */
    height: 100vh; /* view height */
}

#interface div.inspector,
#interface div.simulations {
    --size: 80px;
    position: absolute;
    top: var(--size);
    border-radius: 10px;
}

#interface div.inspector {
    right: var(--size);
    background-color: rgb(173, 17, 30);
    box-shadow: 0 0 8px 3px rgb(245, 7, 7);

    height: calc(100vh - calc(var(--size) * 2));
    width: 20vw;

    display: flex;
    flex-direction: column;
    padding: 10px;

    overflow-y: scroll;
    overflow-x: hidden;
}

#interface div.simulations {
    left: var(--size);
    background-color: rgb(190, 255, 146);
    
    height: calc(100vh - calc(var(--size) * 2) + 20px);
    width: 20vw;

    box-shadow: 0 0 8px 3px rgb(190, 255, 146);

    display: flex;
    flex-direction: row-reverse;
    /* overflow: hidden; */
}

/* Onglet */
.tabs {
    display: flex;
    flex-direction: column;
}

.tab-button {
    background-color: rgb(51, 116, 29);
    width: 20px;
    text-orientation:sideways-right;
    border: none;
    flex-grow: 1;
    color: black;
    border-radius: 0 10px 10px 0;
    box-shadow: inset 5px 0 6px rgb(60, 139, 33);
    position: relative;
    transition: all .2s ease;
}

.tab-button span {
    rotate: -90deg;
    display: inline-block;
    transform-origin: left;
    position: absolute;
    left: 10px;
    font-size: 18px;
    font-family: "Just Another Hand", cursive; /* TABFONT */
}

.tab-button.active {
    box-shadow: none;
    background-color: rgb(108, 211, 48);
    border: none;
    color: white;
}

.views {
    width: 100%;
    height: 100%;
    background-color: rgb(108, 211, 48);
    border-radius: 10px 0 0 10px;
}

.tab-view {
    position: relative;
    z-index: 2;
    display: none;
    padding: 5%;
    width: 90%;
    height: 90%;
    row-gap: 12px;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
}

.tab-view.active {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* inputs */
.input-group {
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

/* label */
.input-group label {
    font-family:Uroob, sans-serif; /* NOMS SLIDERS*/
    font-size: 1.7em;
    white-space: nowrap;
}

/* ranges */
.input-group input {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 90%;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;

    background-color: white;
    color: rgb(51, 116, 29);
}

.input-group input::-webkit-slider-runnable-track,
.input-group input::-moz-range-track {
    height: 100%;
    border: none;
    background-color: transparent;
}

.input-group input::-webkit-slider-thumb,
.input-group input::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    border: 0;
    background-color: rgb(17, 23, 9);
}

.input-group input:hover::-webkit-slider-thumb,
.input-group input:hover::-moz-range-thumb {
    background-color: rgb(35, 45, 20);
}


.input-group input::-moz-range-progress,
.input-group input::-webkit-range-progress {
    background-color: currentColor;
    height: 100%;
    border-radius: 0;
}

/* settings icon */
#interface-icon {
    position: absolute;
    top: -20px;
    left: -20px;
    font-size: 40px;
    color: rgb(108, 211, 48);
}

/* Control */
#control {
    background-color: transparent;
    color: rgb(95, 21, 21);
    border: 0;
    height: 50px;
    margin-bottom: 20px;
    font-size: 50px;
}