/* Fonts */
@font-face {
    font-family: Uroob;
    src: url(../fonts/Uroob.ttf);
}
@font-face {
    font-family: Plento;
    src: url(../fonts/PLENTO-Regular.ttf);
}


/* Style */
* {
    margin: 0;
    padding: 0;
    text-rendering: geometricPrecision;
}

::selection {
    background-color: orange;
    color: black;
}

/* Header and footer */
header,
footer {
    width: 100vw;
    height: 5vh;
    display: grid;
    place-items: center;
    color: white;
    text-align: center;
    font-family: Plento, sans-serif;
}
footer { 
    bottom : 0;
    font-family: Uroob, sans-serif;
    color: #eee;
}

header h1 {
    font-size: 4em;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 33, 32);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* main */
main {
    width: 100vw;
    display: grid;
    place-items: center;
    min-height: 90vh;
}


canvas {
    background-color: rgb(148, 148, 148);
    box-shadow: 0 0 10px #000;
    border: 5px solid #000;
    border-radius: 10px;
    height: 80%;
    aspect-ratio: 1;

}

#stepIndicator {
    padding: 1%;
    font-family: Uroob;
    color: rgb(255, 255, 255);
    margin-inline: auto;
    width: 80%;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 2px white solid;
    text-shadow: 2px;
    
}

/* Legende */
#legende {
    width: 100%;
    padding: 1%;
    z-index: 10;
    font-family: Uroob;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

#legende h3 {
    margin-inline: auto;
    width: 80%;
    font-size: 33px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 2px white solid;
}
#legende ul {
    padding: 10px 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    gap: 10px;
    font-size: 25px;
    
}

#legende ul li {
    width: fit-content;
    list-style: none;
    position: relative;
    margin-left: 23px;
    text-align: left;
}

.circle#retablie {
    --bg: rgba(20, 200, 20, 0.8);
}
.circle#infectee{
    --bg : rgba(200, 20, 20, 0.8);
}
.circle#susceptible {
    --bg: rgba(255, 255, 255, 0.8);
}
.circle#exposee {
    --bg:rgba(240, 65, 35, 0.8);
}
.circle#quarantaine {
    --bg: rgba(243, 17, 205, 0.8);
}
.circle#mort {
    --bg: rgba(0, 50, 240, 0.8);
}

ul li span.circle {
    position: absolute;
    display: inline-block;
    width: 15px;
    aspect-ratio: 1;
    left: -20px;
    top: 1px;
    border-radius: 50%;
    background-color: var(--bg);
    border: 1px #000 solid;
}

section.graph {
    max-height: 100%;
}

section.graph canvas {
    max-width: 100%;
    min-width: 100%;
    width: unset;
    height: unset;
    border: none;
    box-shadow: none;
    background-color: #211;
}