* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 33, 32);

    display: grid;
    align-items: center;
    justify-content: center;
}

/* Debug */
canvas {
    background-color: rgb(148, 148, 148);
    box-shadow: 0 0 10px #000;
    border: 5px solid #000;
    border-radius: 5px;

    image-rendering: pixelated;
}

#stepIndicator {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: monospace;
    font-size: 20px;
    color: white;
}